sudo: false

language: ruby
rvm:
  - 2.5

env:
  global:
    - JEKYLL_ENV=production
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

cache: bundler

script:
  - bundle exec jekyll build
  - bundle exec htmlproofer ./_site --url-swap '\A\/cyborg-classmate:' --disable-external

branches:
  only:
    - master

deploy:
  provider: pages
  github-token:
    secure: HVOvhW7jqmYHaY9Uj2ULAIjhnN0DzqYIDddEodgRoq+NTCicsavF7bqwCmFE9Z5x6FSqTUV3Nllcbgb7fJwAUeUzq2lHCjlDAbjMJfpirtGVKO0UFkYozugtIJlZwKU/u4fkkakz5w7kYKJEdJR+pAfLVslTzmmnKfg2Fbf2PLZQ8PyCI3UVvZxIEWC3iR+yQmXQVe4i8chu8l6WkT3Y2qtTOCB21ETexuRjUzU7NnHyxbBbR5+1+X/rlevDvG8g4YHYUhU3OJiJhB3ihmGytDyN5PbLeyWyWmWAAnPgWkKqhsmd2+dEFB6+uEaNvUAkd4I7cydRRvf6YFQWkuMIdwV38PufRbOflqSEgomzJoGPEQ/ig6h12/RygaI7irSRBwnqFPbzCnIpRxBRJzmhHT5YQ0uJLdYfvg0pJTusqiUrzq2X8D0vheeR7O2CqOKMahDkh4QL4ol2gmj3CDGrvNBuyld+xnRuiQbqjokIVicVtLLHnt13Ibo1md+tJK6RuuTwAsDp0xLk5Mo8lApwabAnBirQNjjkdFdXbhUfXuphuUe7kj8Wli+MPkUmczqgrIL4zdbXEFrWESq7jmoDKm8OCji2uaDNJdTG5XiemKhkN8OGlB33Qcpfhm+tlCXc12q0jO8DDlYO1nwQm+LULCwrnUJOUsQhqQjMD7VyIqQ=
  skip-cleanup: true
  local-dir: _site
  target_branch: gh-pages
  on:
    branch: master
